/* {
	border: 1px solid red !important;
}*/

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	font-family: 'Lato', sans-serif;
	color: #473c39;
}

.container {
	min-width: 262px;
}

.row {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: flex;
	flex-wrap: wrap;
	padding-left: 20px;
	padding-right: 20px;
	width: 100%;
}

h1 {
	font-weight: 100;
}

h2 {
	font-weight: 400;
}

h3,
h4 {
	font-weight: 300;
	margin-top: 0px;
}

figure {
	margin: 0px;
}

.img-logo {
	width: 100%;
	max-width: 300px;
	min-width: 140px;
	padding-left: 20px;	
}

.logo-text {
	padding-right: 20px;
}

.logo-title {
	margin-bottom: 0px;
}

.logo-subtitle {
	margin-top: 0px;
}

.img-left {
	padding-right: 6px;
}

.img-right {
	padding-left: 6px;
}

.img-middle {
	padding-left: 3px;
	padding-right: 3px;
}


.discipline {
	-webkit-filter: grayscale(100%)
		brightness(100%)
    	contrast(100%);
    filter: grayscale(100%)
    	brightness(100%)
    	contrast(100%);
    transition: filter 0.3s;
    -webkit-transition: filter 0.3s
    	-webkit-filter 0.3s;
}

.discipline:hover {
	-webkit-filter: none;
	filter: none;
}

.img-responsive {
	max-width: :100%;
}

.img-feature {
	padding-left: 20px;
	padding-right: 20px;
	width: =100%;
}

.text-section-title{
	padding-left: 20px;
}

.text-swim {
	color: #00609f;
}

.text-bike {
	color: #da0614;
	padding-left: 3px;
}

.text-run{
	color: #008155;
	padding-left: 6px;
}

.align-center {
	text-align: center;
}

.align-right {
	text-align: right;
}

.align-left {
	text-align: left;
}

.text-uppercase {
	text-transform: uppercase;
}

.accreditation-image {
	max-width: 88px;
	max-height: 31px;
	padding-right: 20px;
}

.descriptor-text {
	color: #000;
}

hr {
	border-width: 1px;
	border-color: #473c39;
	width: 100%;
	min-width: 222px;
}

img,
object,
video {
	max-width: 100%;
}



.col-1 {
	width: 8.33333%;
}

.col-2 {
	width: 17.66667%;
}

.col-3 {
	width: 25%;
}

.col-4 {
	width: 33.33333%;
}

.col-5 {
	width: 41.66667%;
}

.col-6 {
	width: 50%;
}

.col-7 {
	width: 58.33333%;
}

.col-8 {
	width: 67.66667%;
}

.col-9 {
	width: 75%;
}

.col-10 {
	width: 83.33333%;
}

.col-11 {
	width: 91.66667%;
}

.col-12 {
	width: 100%;
}

@media only screen and (max-width: 660px) {
	.col-4,
	.col-6 {
		width: 100%;
		min-width: 166px;
	}
	
	.row-header,
	.row-disciplines {
		display: block;
	}

	.logo-title,
	.logo-subtitle {
		text-align: left;
	}

	.logo-text {
		padding-left: 20px;
	}

}

@media only screen and (min-width: 1009px) {

}